/Code
/GIMP
/Google
/Kvantum
/Microsoft
/Microsoft Teams - Preview
/QtProject.conf
/Signal
/Thunar
/autostart
/azote
/bleachbit
/cef_user_data
/cmus
/conky-manager.json
/dconf
/deluge
/discord
/eog
/falkon
/fish
/flutter
/fuzzel
/garuda
/google-chrome
/gtk-3.0
/htop
/libreoffice
/light
/mako
/menus
/micro
/mimeapps.list
/mpv
/neofetch
/nnn
/pamac
/pavucontrol.ini
/psd
/pulse
/qt5ct
/ranger
/smplayer
/stacer
/starship.toml
/teams
/user-dirs.dirs
/user-dirs.locale
/vlc
/whatsapp-for-linux
/xdg-terminals.list
/xfce4
/xsettingsd
/YouTube Music
/nordvpn
/gedit
/fontconfig
/Pinta
/Kingsoft
/celluloid
/JetBrains
/kitty
/MuseScore